# Ignorar conteúdo das pastas, mas manter a estrutura
audios/*
transcriptions/*
uploads/*
_models/*

# Manter os arquivos .gitkeep nas pastas para manter a estrutura
!audios/.gitkeep
!transcriptions/.gitkeep
!uploads/.gitkeep
!_models/.gitkeep

# Ignorar arquivos temporários e desnecessários
*.log
*.tmp
*.pyc
__pycache__/

# Ignorar arquivos grandes, como modelos baixados
*.pt
*.onnx
